.ddown {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: pointer;
  background-color: #fff;
}

.ddownlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.listitem {
  font-size: 1rem;
  cursor: pointer;

  font-weight: 500;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-box {
  padding: 2px;
  margin-left: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.grouping {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
}
