.navbar {
  background: white;
  display: flex;
}

.dropbox {
  margin-left: 50px;
}

.body {
  background-color: #ececec;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3px;
  flex-wrap: wrap;
}

#displayt {
  font-size: 1rem;
  font-weight: 600;
  margin: 4px;
}

.displayalign {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 2px 3px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dicon {
  font-size: 1.4rem;
  margin-top: 10px;
}
